/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #111;
}

/* Section styles */
.section {
    height: 100vh;
}

/* About section */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #bfbfbf;
    color: #fff;

}

/* Services section */
#projects {
    background-color: #444;
    color: #fff;
    text-align: center;
}
#projects h2 {
    padding: 26px 0;
}

/* Contact section */
#contact {
    background-color: #555;
    color: #fff;
    padding: 26px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer styles */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.nav_items {
    list-style: none;
    display: flex;
}
.navbar {
    width: 75%;
}

.social-links li {
    margin: 0 10px;
    transition: 0.1s ease-in-out;
}
.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.social-links li:hover {
    transform: scale(1.2);
}
.social-links li:active {
    transform: scale(0.8);
}
.social-icon {
    font-size: 24px;
    color: #080909;
}
img {
    max-height: 70vh;
}
/* Glass-like menu */
.glass-menu {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 8px 8px 0 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: fit-content;
    height: 50px;
    font-size: 30px;
}

.glass-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 5px 5px;
}

.glass-menu li {
    margin: 0 10px;
}

.glass-menu a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.glass-menu a:hover {
    color: #111;
}
.current {
    color: #e34a04 !important;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.badge {
    margin-top: 30px;
}
.badge a {
    color:#bfbfbf;
}
